@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
